In [27]:
import pandas as pd
import numpy as np

logSZ1 = pd.read_csv(r'/mnt/data/20201210/zs_6801/zs_6801_20201210_168.26.0.160/Logs_full/mdLog_SZ_20201210_0904.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice", "numTrades"]]
logSZ = pd.read_csv(r'/mnt/data/20201210/zs_6801/zs_6801_20201210_168.26.0.164_postmdgw/Logs_full/mdLog_SZ_20201210_0904.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice", "numTrades"]]
print("original data source type: ")
print(logSZ["source"].unique())
print("new data source type: ")
print(logSZ1["source"].unique())
print(logSZ["time"].unique())
print(logSZ1["time"].unique())

original data source type:
[24]
new data source type:
[31]
['09:04:54.000' '09:05:54.000' '09:06:54.000' ... '10:13:06.000'
 '10:13:09.000' '10:13:12.000']
['09:04:54.000' '09:05:54.000' '09:06:54.000' ... '10:26:00.000'
 '10:26:03.000' '10:26:06.000']

In [28]:
pd.set_option('max_columns', 200)
logSZ1["time"] = logSZ1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))

display(logSZ[(logSZ["StockID"] == 1) & (logSZ["time"] >= 112000000) & (logSZ["time"] <= 113000000)])
display(logSZ1[(logSZ1["StockID"] == 1) & (logSZ1["time"] >= 112000000) & (logSZ1["time"] <= 113000000)])

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice, numTrades]
Index: []

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice, numTrades]
Index: []

In [31]:
display(logSZ['cum_amount'].astype(str).apply(lambda x: x.split('.')[1]).unique())
display(logSZ1['cum_amount'].astype(str).apply(lambda x: x.split('.')[1]).unique())

array(['0', '79', '6', '96', '3', '65', '64', '06', '4', '5', '76', '67',
       '72', '33', '28', '25', '7', '8', '31', '04', '41', '12', '35',
       '55', '45', '46', '69', '92', '15', '54', '24', '75', '58', '02',
       '61', '36', '56', '19', '2', '66', '62', '51', '48', '42', '08',
       '84', '07', '44', '81', '1', '68', '13', '85', '86', '49', '37',
       '88', '98', '52', '23', '74', '93', '16', '22', '91', '11', '03',
       '27', '94', '95', '34', '47', '99', '59', '18', '26', '63', '14',
       '39', '73', '09', '32', '9', '82', '21', '83', '38', '05', '71',
       '97', '43', '17', '57', '77', '53', '01', '29', '89', '87', '78'],
      dtype=object)

array(['0'], dtype=object)

In [49]:
data1 = logSZ[(logSZ["cum_volume"] > 0) & (logSZ["source"] == 24)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0) & (logSZ1["source"] == 31)]
###
columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice", "numTrades"]
###

# columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
#            "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#            "ask4q", "ask5q", "openPrice", "numTrades"]

data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 != n2:
    sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
    data1_1 = data1_1[data1_1["StockID"].isin(sl)]
    data2_1 = data2_1[data2_1["StockID"].isin(sl)]
data1_1['cum_amount'] = data1_1['cum_amount'].round(2)
data2_1['cum_amount'] = data2_1['cum_amount'].round(2)
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])
    print(len(test[np.isnan(test["sequenceNo_y"])])/n1)
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo_x"])])
    display(n2-n1)

2129
2129
1590599
2012921
2013043
-----------------------------------------------

'test is not complete:'

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time,cum_volume,cum_amount_x,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,cum_amount_y
56956,289145.0,1.607564e+15,3344893.0,24.0,679,SZ,93109000,800,2584.00,3.23,3.20,3.19,3.18,3.17,3.15,9900,40800,3400,800,5000,3.23,3.24,3.25,3.26,3.27,12300,7000,6942,19400,1300,3.23,2,NaN,NaN,NaN,NaN,NaN,NaN
97862,370127.0,1.607564e+15,4408648.0,24.0,2323,SZ,93209000,1200,4008.00,3.34,3.34,3.30,3.27,3.21,3.20,99700,10000,9000,6200,900,3.37,3.38,3.39,3.40,3.41,39800,17700,21700,52100,16100,3.34,4,NaN,NaN,NaN,NaN,NaN,NaN
236526,643881.0,1.607564e+15,7732513.0,24.0,803,SZ,93539000,100,1383.00,13.83,13.83,13.82,13.76,13.74,13.73,900,3600,500,2000,7500,13.93,13.94,13.95,14.00,14.03,2000,600,13100,4200,3700,13.83,1,NaN,NaN,NaN,NaN,NaN,NaN
301670,772159.0,1.607564e+15,9175525.0,24.0,2485,SZ,93718000,16100,81029.00,5.04,5.02,5.01,5.00,4.99,4.98,16200,20500,37400,11100,11100,5.04,5.05,5.07,5.08,5.09,10600,2700,7600,22300,26600,5.05,17,NaN,NaN,NaN,NaN,NaN,NaN
370023,906106.0,1.607564e+15,10455578.0,24.0,663,SZ,93906000,61700,240021.00,3.90,3.90,3.89,3.88,3.87,3.86,1500,110200,136400,4000,9000,3.91,3.92,3.93,3.94,3.95,14100,3000,36500,33700,68000,3.90,29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560602,3229874.0,1.607566e+15,28423716.0,24.0,300546,SZ,101218000,117000,2279232.00,19.58,19.57,19.56,19.54,19.53,19.52,400,200,600,1600,1400,19.58,19.60,19.65,19.70,19.74,1200,5800,400,200,1700,19.54,368,NaN,NaN,NaN,NaN,NaN,NaN
1562537,3233706.0,1.607566e+15,28459079.0,24.0,23,SZ,101224000,397289,6839247.65,17.19,17.16,17.15,17.12,17.08,17.07,4000,2900,1200,1000,9900,17.20,17.21,17.22,17.33,17.34,700,100,1800,3600,3800,17.33,533,NaN,NaN,NaN,NaN,NaN,NaN
1565010,3238482.0,1.607566e+15,28484847.0,24.0,2529,SZ,101227000,331400,1920281.49,5.80,5.80,5.79,5.78,5.77,5.76,7200,10000,15800,34400,40800,5.81,5.82,5.83,5.84,5.85,41775,6000,24100,9100,8800,5.81,115,NaN,NaN,NaN,NaN,NaN,NaN
1569294,3246735.0,1.607566e+15,28534331.0,24.0,300486,SZ,101233000,116150,1915933.00,16.68,16.68,16.67,16.63,16.60,16.50,300,900,100,3500,3400,16.70,16.74,16.75,16.77,16.78,200,500,600,100,200,16.38,190,NaN,NaN,NaN,NaN,NaN,NaN
1588618,3284370.0,1.607566e+15,28761395.0,24.0,707,SZ,101309000,310900,764306.00,2.46,2.45,2.44,2.43,2.42,2.41,71400,79300,21000,48000,94500,2.46,2.47,2.48,2.49,2.50,17,154500,81000,62700,292305,2.46,76,NaN,NaN,NaN,NaN,NaN,NaN

7.67006643409181e-05

In [5]:
test[test['sequenceNo_x'].isnull()]['time_y'].describe().astype('int')

count           95
mean     152163473
std          49578
min      152100000
25%      152122500
50%      152145000
75%      152215000
max      152245000
Name: time_y, dtype: int64

In [14]:
logSZ[(logSZ['StockID'] == 2) & (logSZ['cum_volume'] == 45312111) & (logSZ['source'] == 4)].tail(2)

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
16883241,1605856993139956,131675774,4,2,SZ,152303000,45312111,1.394981e+09,30.87,30.86,30.85,30.84,30.83,30.82,22800,146100,36900,16900,2500,30.87,30.88,30.89,30.9,30.91,285800.0,40825.0,53162.0,86300.0,31900.0,30.91,52305.0
16887850,1605857053137357,131685645,4,2,SZ,152403000,45312111,1.394981e+09,30.87,30.86,30.85,30.84,30.83,30.82,22800,146100,36900,16900,2500,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
logSZ1[(logSZ1['StockID'] == 2) & (logSZ1['cum_volume'] == 45312111) & (logSZ1['source'] == 24)].tail(1)

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
8584902,1605857053137129,90917625,24,2,SZ,152403000,45312111,1.394981e+09,30.87,30.86,30.85,30.84,30.83,30.82,22800.0,146100.0,36900.0,16900.0,2500.0,30.87,30.88,30.89,30.9,30.91,285800.0,40825.0,53162.0,86300.0,31900.0,30.91,52305.0

In [5]:
test[np.isnan(test["sequenceNo_y"])]['time'].unique()

array([93009000, 93618000])

In [10]:
test[np.isnan(test['sequenceNo_x'])]['time'].min()

153303000

In [12]:
logSZ[logSZ['source'] == 4]['time'].max()

153203000

In [50]:
# speed check
test1 = test[~np.isnan(test["sequenceNo_x"])]
test1 = test1[~np.isnan(test1["sequenceNo_y"])]
diff = test1["clockAtArrival_x"] - test1["clockAtArrival_y"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

10796.0
29757.0
48724.0
1560.0
3789.0
6266.0
0.9720492657234276
0.027942560628038005

In [40]:
test1[test1['clockAtArrival_y'] - test1['clockAtArrival_x'] > 49460]['clockAtArrival_y'].iloc[0]

1607563500709694

In [41]:
test1[test1['clockAtArrival_y'] - test1['clockAtArrival_x'] > 49460]['clockAtArrival_x'].iloc[0]

1607563500641849.0

In [37]:
display(test1['cum_amount_x'].iloc[0])
display(test1['cum_amount_y'].iloc[0])

10975428.79

10975428.0

In [44]:
import pandas as pd
import random
import numpy as np
import pickle

TradeLog1 = pd.read_csv(r'/mnt/data/20201210/zs_6801/zs_6801_20201210_168.26.0.164_postmdgw/Logs_full/mdTradeLog_20201210_0904.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum", "mdSource"]]
OrderLog1 = pd.read_csv(r'/mnt/data/20201210/zs_6801/zs_6801_20201210_168.26.0.164_postmdgw/Logs_full/mdOrderLog_20201210_0904.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty", "mdSource"]]
TradeLog = pd.read_csv(r'/mnt/data/20201210/zs_6801/zs_6801_20201210_168.26.0.160/Logs_full/mdTradeLog_20201210_0904.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum", "mdSource"]]
OrderLog = pd.read_csv(r'/mnt/data/20201210/zs_6801/zs_6801_20201210_168.26.0.160/Logs_full/mdOrderLog_20201210_0904.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty", "mdSource"]]
stocks = list(set(OrderLog1["SecurityID"].unique()) & set(OrderLog["SecurityID"].unique()))
display(len(stocks))
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(stocks)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(stocks)]
del OrderLog
del OrderLog1
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(stocks)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
del TradeLog
del TradeLog1
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))
print(OrderLogSZ["mdSource"].unique())
print(OrderLogSZ1["mdSource"].unique())
print(TradeLogSZ["mdSource"].unique())
print(TradeLogSZ1["mdSource"].unique())
print(OrderLogSZ["exchId"].unique())
print(OrderLogSZ1["exchId"].unique())
print(TradeLogSZ["exchId"].unique())
print(TradeLogSZ1["exchId"].unique())

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2129

2129
2129
2129
2129
[31]
[24]
[31]
[24]
[2]
[2]
[2]
[2]

In [45]:
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

# TradeLogSZ = TradeLogSZ[TradeLogSZ['TransactTime'] >= TradeLogSZ1['TransactTime'].min()]
columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
# columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty", "BidApplSeqNum","OfferApplSeqNum"]

# TradeLogSZ1 = TradeLogSZ1.drop_duplicates(columns, keep='first')

re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

13056308
11303847
13056308
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,mdSource_x,clockAtArrival_y,sequenceNo_y,exchId_y,mdSource_y
11303847,1607566392818186,34172668,2,101312790,7270047,651,4,N,0,700,0,0,4910420,31,NaN,NaN,NaN,NaN
11303848,1607566392819222,34172672,2,101312790,6568117,157,4,N,0,100,0,6557184,0,31,NaN,NaN,NaN,NaN
11303849,1607566392819227,34172675,2,101312790,6983926,300458,4,N,0,1300,0,6572720,0,31,NaN,NaN,NaN,NaN
11303850,1607566392819383,34172685,2,101312790,6568119,2062,F,N,42100,100,4210000,6568118,6109461,31,NaN,NaN,NaN,NaN
11303851,1607566392821080,34172689,2,101312790,6983929,100,4,N,0,3000,0,0,6937707,31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13056303,1607567167694366,39547141,2,102607670,7692083,300343,F,N,36000,2100,75600000,7692080,7688652,31,NaN,NaN,NaN,NaN
13056304,1607567167694516,39547142,2,102607670,8034290,300767,F,N,738000,600,442800000,6878817,8034289,31,NaN,NaN,NaN,NaN
13056305,1607567167695464,39547147,2,102607670,7510555,830,4,N,0,700,0,0,5330117,31,NaN,NaN,NaN,NaN
13056306,1607567167695622,39547151,2,102607670,8328942,300525,4,N,0,200,0,0,8302010,31,NaN,NaN,NaN,NaN
13056307,1607567167695630,39547155,2,102607670,8328944,300484,F,N,168400,500,84200000,8324697,8328943,31,NaN,NaN,NaN,NaN

1752461
[101312790 101312800 101312810 ... 102607650 102607660 102607670]
2129
[   651    157 300458 ...   2629   2671    679]

In [46]:
# speed test
re = re[~re["sequenceNo_x"].isnull()]
re = re[~re["sequenceNo_y"].isnull()]
diff = re["clockAtArrival_y"] - re["clockAtArrival_x"]
re["diff"] = re["clockAtArrival_y"] - re["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))
print(sum(diff == 0)/len(diff))

2564.0
3236.0
4379.0
67.5
72.0
83.5
0.9999996461381687
3.5386183128628686e-07
0.0

In [47]:
columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]

# OrderLogSZ = OrderLogSZ[OrderLogSZ['TransactTime'] >= OrderLogSZ1['TransactTime'].min()]
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo_x"].count()
n2 = ree["sequenceNo_y"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["sequenceNo_y"])])
    print(len(ree[np.isnan(ree["sequenceNo_y"])]))
    print(np.sort(ree[np.isnan(ree["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo_x"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

16187140
14190371
16187140
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,mdSource_x,clockAtArrival_y,sequenceNo_y,exchId_y,mdSource_y
14190371,1607566392819224,34172673,2,101312790,6568116,2570,1,2,56600,900,31,NaN,NaN,NaN,NaN
14190372,1607566392819226,34172674,2,101312790,6568120,2202,1,2,117800,500,31,NaN,NaN,NaN,NaN
14190373,1607566392819229,34172677,2,101312790,6983927,300109,2,2,180700,300,31,NaN,NaN,NaN,NaN
14190374,1607566392819240,34172683,2,101312790,6983928,300129,2,2,68800,5000,31,NaN,NaN,NaN,NaN
14190375,1607566392819380,34172684,2,101312790,6568118,2062,1,2,42100,100,31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16187135,1607567167695471,39547149,2,102607670,7510553,2050,1,2,220000,300,31,NaN,NaN,NaN,NaN
16187136,1607567167695473,39547150,2,102607670,8328940,2241,2,1,0,100,31,NaN,NaN,NaN,NaN
16187137,1607567167695624,39547152,2,102607670,7692086,300059,2,2,299400,300,31,NaN,NaN,NaN,NaN
16187138,1607567167695626,39547153,2,102607670,8328943,300484,2,2,168400,500,31,NaN,NaN,NaN,NaN
16187139,1607567167695629,39547154,2,102607670,7510554,568,2,2,1894200,100,31,NaN,NaN,NaN,NaN

1996769
[101312790 101312800 101312810 ... 102607650 102607660 102607670]
2129
[  2570   2202 300109 ...    504 300125     42]

In [48]:
# speed test
ree = ree[~ree["sequenceNo_x"].isnull()]
ree = ree[~ree["sequenceNo_y"].isnull()]
ree["diff"] = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
diff = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

2039.0
2737.0
4087.0
105.0
127.0
132.0
0.9999997885890369
2.1141096311012586e-07

In [5]:
TradeLogSZ1["tradeseq"] = TradeLogSZ1.index.values
OrderLogSZ1["orderseq"] = OrderLogSZ1.index.values
SZ = pd.concat([TradeLogSZ, OrderLogSZ]).sort_values(by=["sequenceNo", "clockAtArrival"])
SZ1 = pd.concat([TradeLogSZ1, OrderLogSZ1]).sort_values(by=["sequenceNo", "clockAtArrival"])
del TradeLogSZ
# del TradeLogSZ1
del OrderLogSZ
# del OrderLogSZ1

print(len(SZ["SecurityID"].unique()))
print(len(SZ1["SecurityID"].unique()))

columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag", "TradePrice", "TradeQty",
           "TradeMoney", "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
# columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty",
#            "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
stocks = SZ["SecurityID"].unique()
m = 0
diff = []
for i in stocks:
    re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
    if (sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]).any() == False:
        m = m + 1
    else:
        diff.append(i)
if m == len(stocks):
    print("SZE Trade + Order Data have same ordering within stocks")
print(m)
print(diff)

# if len(diff) != 0:
#     for i in diff:
#         re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
#         display(re1[sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]])

2209
2209
SZE Trade + Order Data have same ordering within stocks
2209
[]